@model Pada.Models.PendingPhotoRequest;

@{ ViewData["Title"] = "Create"; }


<h1>Create</h1>

<h4>ImageModel</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullImageFile" class="control-label"></label>
                <input asp-for="FullImageFile" accept="image/*" id="fullImageFile" required />
                <span asp-validation-for="FullImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaceImageFile" class="control-label"></label>
                <input asp-for="FaceImageFile" accept="image/*" id="faceImageFile" required />
                <span asp-validation-for="FaceImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnyImageFile" class="control-label"></label>
                <input asp-for="AnyImageFile" accept="image/*" id="anyImageFile" required />
                <span asp-validation-for="AnyImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}