
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Photo Check</h1>
<h2><button type="button" style="width:420px;height:100px;" onclick="location.href='@Url.Action("Create", "PendingPhotoRequests")'">Upload New Photo</button></h2>

