
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Photo Check</h1>
<h2><button type="button" style="width:420px;height:100px;" onclick="location.href='@Url.Action("NewPhotoCheck", "PhotoCheck")'">New Photo Check</button></h2>
<h2><button type="button" style="width:420px;height:100px;" onclick="location.href='@Url.Action("UploadedPhotoStatus", "PhotoCheck")'">Photo Check Status</button></h2>
<h2><button type="button" style="width:420px;height:100px;" onclick="location.href='@Url.Action("UploadedPhotoStatus", "PhotoCheck")'">Upload Photo Status</button></h2>

