@model IEnumerable<Pada.Models.PendingPhotoRequest>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    @{ var randomUser = Model.Where(u => u.Email != ViewBag.CurrentUserEmail).ToArray()[0];}
    <p>
        @randomUser.Email;
    </p>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>
                    <center>Face Photo</center>
                </th>
                <th>
                    <center>Random Photo</center>
                </th>
                <th>
                    <center>Full Photo</center>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <center><img src=@randomUser.FacePhotoPath alt="alternatetext" style="width:256px;height:256px;"></center>
                </td>
                <td>
                    <center><img src=@randomUser.AnyPhotoPath alt="alternatetext" style="width:256px;height:256px;"></center>
                </td>
                <td>
                    <center><img src=@randomUser.FullPhotoPath alt="alternatetext" style="width:256px;height:256px;"></center>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-action="Approve" asp-route-id="@Model.Where(m=>m.Email == ViewBag.CurrentUserEmail).FirstOrDefault().TransactionId">Approve</a>
    </p>
    <p>
        <a asp-action="Reject" asp-route-id="@Model.Where(m=>m.Email == ViewBag.CurrentUserEmail).FirstOrDefault().TransactionId">Reject</a>
    </p>
</body>
</html>

